{% extends 'instagram/layout.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <a href="{% url 'instagram:post_new' %}" class="btn btn-primary">새포스팅 쓰기</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 bg-success">
                Timeline
            </div>
            <div class="col-sm-4 bg-info">
                {{ user }}
            </div>
        </div>
    </div>
{% endblock %}