{% extends 'instagram/layout.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <a href="{% url 'instagram:post_new' %}" class="btn btn-primary">새포스팅 쓰기</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                {{ post_list }}
            </div>
            <div class="col-sm-4">
                <!-- 아래 처럼 하나의 html 페이지에서 모든 영역을 구성 할수도 있지만, html 페이지를 영역별로 쪼개서 구성 -->
                <!-- <img src="{{ user.avatar_url }}" alt="" style="width:48px; height:48px"> -->

                <!-- 쪼개 놓은 html 페이지를 활용하는 방법 -->
                {% include "instagram/timeline_sidebar.html" %}
            </div>
        </div>
    </div>
{% endblock %}