<!--
    본 파일 생성 후, accounts/templates/accounts/signup_form.html 파일의 내용을 복붙
    instagram/layout.html 로 변경

    현재까지를 실행 했을 경우 다음과 같은 문제가 발생
    - 작성자를 선택 할 수 있게 UI 구성
    - 캡션이 1줄 입력 UI로 구성
    - 태그를 입력 할수 있는 UI 구성

    이를 수정 해보자
-->
{% extends "instagram/layout.html" %}
{% load bootstrap4 %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                {% include "_form.html" with form_title="새 포스팅 쓰기" submit_label="새 포스팅 쓰기" %}
            </div>
        </div>
    </div>
{% endblock %}
