
<div class="d-flex p-2 mb-3">
    <div class="mr-2">
        <img src="{{ user.avatar_url }}" alt="" style="width:48px; height:48px" class="rounded-circle"  />
    </div>
    <div>
        {{ user.username }}<br />
        <small class="text_muted">{{ user.name }}</small>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header text_muted">
        Stories
    </div>
    <div class="card-body text_muted">
        Stories from people you follow will show up here.
    </div>
</div>

<div class="card mb-3">
    <div class="card-header text_muted">
        Suggestions for you
    </div>
    <div class="card-body text_muted">
        <!--
            user는 템플릿 테그의 컨텍스트 프로세서를 통해 전달 할수도 있고
            어떠한 대상을 오버라잇하기 위해서 with 문을 이용하여 friend_user 를 넘길 수 도 있다.
        -->
        {% include "instagram/timeline_sidebar_user_follow.html" with friend_user=user %}
        {% include "instagram/timeline_sidebar_user_follow.html" with friend_user=user %}
        {% include "instagram/timeline_sidebar_user_follow.html" with friend_user=user %}
    </div>
</div>
